    <div id="wrap">
    
        <div id="header">
        
        <!-- /// HEADER  //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="row cv-section">
                <div class="span9">
                    
                    <div class="cv-section-title">
                        
                        <img src="_content/stevenjin.png" alt="">
                        
                        <h1>
                            Steven Jin
                            <small>Software Developement Engineer</small>
                        </h1>
                        
                    </div><!-- end .cv-section-title -->
                    
                </div><!-- end .span9 -->
                <div class="span3">
                    
                    <div class="cv-item">
                        
                        <div class="social-media fixed">
                            <a href="https://www.linkedin.com/in/stevenjin7" class="linkedin-icon social-icon">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="https://github.com/autohub7" class="github-icon social-icon">
                                <i class="fa fa-github"></i>
                            </a>
                            <a href="https://www.facebook.com/seongeun.jin.7" class="facebook-icon social-icon">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </div>
                        
                        <p class="last">
                            <span class="hidden-tablet">Email: </span><a href="mailto:steve.jin313@gmail.com">steven.jin313@gmail.com</a>
                            <br><span class="hidden-tablet">Phone: </span>(408) 910-6928
                            <br><span class="hidden-tablet">Web: </span><a href="#">www.stvjin.com</a>
                        </p>
                        
                    </div><!-- end .cv-item -->
                    
                </div><!-- end .span3 -->
            </div><!-- end .cv-section -->  

        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        </div><!-- end #header -->
        <div id="content">
        
        <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="row cv-section">
                <div class="span3"> 
                    <div class="cv-section-title">  
                        <h2>Profesional Profile</h2>
                    </div><!-- end .cv-section-title -->      
                </div><!-- end .span3 -->
                <div class="span9">
                    <div class="cv-item">
                        <p class="last">  
                        I am a software developer based in San Jose. I have worked with manufacturing test, automation, and web development. I started out with C/C+ for manufacturing test programs then moved on to Node/Express and React/Redux. I am well versed in full-stack development with 10+ hands-on project experience, developing software to deploying application code to a virtual machine on AWS
                        </p>
                        </br>
                        <ul class="fill-circle">
                            <li> Software Deleveopment over 5 years of experience of design, implement, test, matain and improve software</li>
                            <li> Solid understading of Algorithms and Data Structures</li>
                            <li> Designed microservice-based solutions to support back-end processing </li>
                            <li> Experienced in deploying Web app with AWS, Heroku, and local servers </li>
                            <li> Work independently to overcome roadblocks with minimum guidance </li>
                        </ul>
                    </div><!-- end .cv-item -->
                    
                </div><!-- end .span9 -->
            </div><!-- end .cv-section -->
                
            <div class="row cv-section">
                <div class="span3">
                    
                    <div class="cv-section-title">
                        
                        <h2>Work Experience</h2>
                        
                    </div><!-- end .cv-section-title -->
                    
                </div><!-- end .span3 -->
                <div class="span9">
                    
                    <div class="cv-item">
                        
                        <p class="period">October 2016 - Present</p>
                        
                        <h3><strong>Senior Development Engineer</strong></h3>
                        <h4>Cisco Systems, Full-Time</h4>
                        
                        <br>
                        
                        <p>I'm a lead developer for a user-based review system to give a recommendation of component to enhance the quality. The reviews are monitored to track issues involved with a component </p>
                        
                        <ul class="fill-circle">
                            <li>Designed web-based API with security key based authentication to enable user-rating data in other internal search tools </li>
                            <li>Developed auto-suggestion feature for chained input forms using Trie data structure to validate input for component part number, manufacturing part number, and supplier’s name</li>
                            <li>Composed user forum and feedback aggregation platform to enhance user experience and to influence decision making for procurement strategy</li>
                        </ul>
                        
                    </div><!-- end .cv-item -->
                    
                    <div class="cv-item">
                        
                        <p class="period">Nov 2013 - October 2016</p>
                        
                        <h3><strong>Test Engineer</strong></h3>
                        <h4>Cisco Systems, Full-Time</h4>
                        
                        <br>
                        <p> I was responsible for building new API for Memory Built-in Self-test utilized in manufacturing test over 10,000 times, generating memory test algorithms, and analyzing memory failures </p>
                        
                        <ul class="fill-circle">
                            <li> Developed programmable memory test API using C for High Bandwidth Memory (HBM) to generate ATE test patterns on tester to enable diagnostic capability on system level </li>
                            <li> Programmed micro-sequence based test memory algorithms and released multiple production versions to load binary data test sequences on memory test IP </li>
                            <li> Established IJTAG verification flow to adapt new test standard timely and validated output patterns in simulation, Automated Test Equipment (ATE), and system board for Cisco ASR series routers </li>
                        </ul>
                        
                    </div><!-- end .cv-item -->
                    <div class="cv-item">
                        <p class="period">May 2013 - Nov 2013</p>
                        <h3><strong>Manufactoring Quality Engineer</strong></h3>
                        <h4>Cisco Systems, Full-Time</h4>
                        <br>
                        <p> I automated a verfication flow and developed a tool to adapt homogeneous test environment and to reduce time-to-market by increasing engineering efficiency</p>
                        <ul class="fill-circle">
                            <li> Automated verification flow using Bash, Perl, and Tcl script for test format conversion, compilation, and simulation to improve qualify and efficiency of the process for data center chips </li>
                            <li> Developed industrial standard vector to internal vector test format conversion tool that supports multiple output options to provide testability in engineering groups </li>
                            <li> Conducted post silicon validation in system/board to meet the standard on quality management </li>
                        </ul>
                        
                    </div><!-- end .cv-item -->                    
                </div><!-- end .span9 -->
            </div><!-- end .cv-section -->
            
            <div class="row cv-section">
                <div class="span3">
                    
                    <div class="cv-section-title">
                        <h2>Technical Skills</h2>
                    </div><!-- end .cv-section-title -->
                    
                </div><!-- end .span3 -->
                <div class="span9">
                    
                    <div class="cv-item">
                        <p class="period">Advanced, 2 Years</p>
                        <h3><strong>React, Redux, and ES2016</strong></h3>
                        <br class="clear">
                        <p class="last"> I have broad experience with 10+ projects; <strong> Instagram Clone, Snapchat Clone, Job Board, Four Square Clone, Weather Webapp, High-end restaurant, React&Google Maps, Youtube Search, and etc </strong>. I solved hundreds of algorithms and data strctures questions using JavaScript, ES2016 </p>
                    </div><!-- end .cv-item -->
                    <div class="cv-item">
                        <p class="period">Expert, 3 Years</p>
                        <h3><strong>Node.js</strong></h3>
                        <br class="clear">
                        <p class="last">I have learned a full-stack development in 2015 on Coursera, Youtube, and Udemy and continued learning through different projects. I have developed APIs and backend server with Node.js </p>

                    </div><!-- end .cv-item -->                    
                    <div class="cv-item">
                        <p class="period">Advanced, 2 Years</p> 
                        <h3><strong>Mongo DB, MSSQL</strong></h3>
                        <br class="clear">
                        <p class="last">I have completed Mongo DB academy online courses 2 years ago and applied knowledge in different projects. Also, I used MSSQL to intergrate Webapp with a large internal database </p>
                    </div><!-- end .cv-item -->
                    
                    <div class="cv-item">
                        <p class="period">Intermediate, 2 Year</p>
                        <h3><strong>C/C++</strong></h3>        
                        <br class="clear">
                        <p> I have developed APIs using C to test high-bandwidth memory on board/system level. Also, I programmed memory testing algorithms using Assembly language. I'm familar with using structure and pointer and static typed language. </p> 
                    </div><!-- end .cv-item -->
                    <div class="cv-item">
                        
                        <p class="period">Advanced, 2 Year</p>
                        <h3><strong>Python, Perl, TCL</strong></h3>
                        <br class="clear">
                        <p>I wrote a web-scrapping script using Phthon to collect U.S. market data. Also, I've developed and managed test vector generators and automation tools using Perl and TCL in different teams internally </p> 
                    </div><!-- end .cv-item -->                    
                </div><!-- end .span9 -->
            </div><!-- end .cv-section -->
            
            <div class="row cv-section">
                <div class="span3">
                
                    <div class="cv-section-title">
                        
                        <h2>Education</h2>
                        
                    </div><!-- end .cv-section-title -->
                    
                </div><!-- end .span3 -->
                <div class="span9">
                    <div class="cv-item">
                        <h3><strong>University of California, San Diego</strong></h3>
                        <h4>Computer Engineering</h4>
                        <br>  
                        <p class="last">Algorithm&Design, Computer Architecture, Validation&Testing of Embedded Systems </p>
                        <li>AES HW/SW Co-processor</li>
                        <li>Leakage Power Reduction</li>
                        <li>Energy Efficient Kernel Module Design </li>
                    </div><!-- end .cv-item -->
                    <div class="cv-item">
                        <h3><strong>State University of New York at Buffalo</strong></h3>
                        <h4>Electrical Engineering</h4>
                        <br>  
                        <p class="last"> Sensor and MicroActurators Learning Lab Honors (SHIP) Member 2011 </p>
                        <li> Donkey Kong Game using ARM microcontroller </li>
                    </div>
                </div><!-- end .span9 -->
            </div><!-- end .cv-section -->
    
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        </div><!-- end #content -->

    {{>footer}}
    </div>

    
    <a id="back-to-top" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    
    <a id="print" href="javascript:window.print()" title="Print the CV">
        <i class="fa fa-print"></i>
    </a>
        
    <a id="pdf" href="https://drive.google.com/file/d/1uNfiOTEmbxxHs06Co6lkc4RD6qviolvC/view?usp=sharing" title="Download it as a .pdf">
        <i class="fa fa-download"></i>
    </a>

    <!-- /// jQuery ////////  -->
    <script src="_layout/js/jquery-2.1.0.min.js"></script>
  
    <!-- /// ViewPort ////////  -->
    <script src="_layout/js/viewport/jquery.viewport.js"></script>
    
    <!-- /// Easing ////////  -->
    <script src="_layout/js/easing/jquery.easing.1.3.js"></script>

    <!-- /// SimplePlaceholder ////////  -->
    <script src="_layout/js/simpleplaceholder/jquery.simpleplaceholder.js"></script>

    <!-- /// Fitvids ////////  -->
    <script src="_layout/js/fitvids/jquery.fitvids.js"></script>
    
    <!-- /// bxSlider ////////  -->
    <script src="_layout/js/bxslider/jquery.bxslider.min.js"></script>
    
    <!-- /// Magnific Popup ////////  -->
    <script src="_layout/js/magnificpopup/jquery.magnific-popup.min.js"></script>
    
    <!-- /// Isotope ////////  -->
    <script src="_layout/js/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="_layout/js/isotope/isotope.pkgd.min.js"></script>
    
    <!-- /// Parallax ////////  -->
    <script src="_layout/js/parallax/jquery.parallax.min.js"></script>  
    
    <!-- /// EasyPieChart ////////  -->
    <script src="_layout/js/easypiechart/jquery.easypiechart.min.js"></script>
    
    <!-- /// Easy Tabs ////////  -->
    <script src="_layout/js/easytabs/jquery.easytabs.min.js"></script>  
    
    <!-- /// Form validate ////////  -->
    <script src="_layout/js/jqueryvalidate/jquery.validate.min.js"></script>
    
    <!-- /// Form submit ////////  -->
    <script src="_layout/js/jqueryform/jquery.form.min.js"></script>
    
    <!-- /// gMap ////////  -->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="_layout/js/gmap/jquery.gmap.min.js"></script>

        <!-- /// Custom JS ////////  -->
    <script src="_layout/js/plugins.js"></script>   
    <script src="_layout/js/scripts.js"></script>
